/* 모바일용 CSS */
@media (max-width: 768px) {  

    .fish-card {
        margin: 0 10px; /* 모바일에서 좌우 여백 조정 */
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));         
        text-align: center;
        color: white;
        justify-items: center;   
    }
    
    /* 모바일에서 글꼴 크기 조정 */
    body {
        font-size: 14px;   
    }
}