/* styles.css */

/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/mainbackground.jpg);
}

main {
    padding: 20px;    
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* 입력 상자의 크기 계산을 보정합니다. */
}

#headerBig {    
    margin-top: 50px;
    text-align: center;
    font-size: 130px;
    font-family: 'Snowstorm', sans-serif;   
    color: #ffd335;         
    text-shadow: 2px 2px rgb(48, 110, 110);                               
}

#headerSmall {
    letter-spacing: 12px;
    margin-top: -150px;
    margin-left: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Snowstorm', sans-serif;   
    color: rgb(48, 110, 110);       
    text-shadow: 2px 2px #ffd335; 
}

/* 갤러리 그리드 스타일 */
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin-top: 10px;
}

/* 모바일 반응형 스타일 */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    input[type="text"] {
        width: calc(100% - 20px); /* 좌우 여백 고려 */
    }

    /* 모바일에서 갤러리 항목 크기 조정 */
    #gallery {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 5px;
    }
}

/* Font */
@import url('https://fonts.cdnfonts.com/css/snowstorm');